
body{
    background: black;
    box-sizing: border-box;
    
}

.banner{
    width: 100%;
}
.container{
    border: 3px solid white;
    padding: 20px;
    display: flex;
    gap: 30px;
    
}
footer{
    text-align: center;
    font-size: 30px;
}

#back-img{
    background-image: url(images/giphy.gif);
    background-size: cover;
}

h2{
    font-size: 50px;
    text-align: center;
}
footer a{
    text-decoration: none;
    border-bottom: 3px solid white;
    padding: 4px;
    background-color: black;
    color: blue;
}

footer a:hover{
    border: 0 solid blue;
    background: red;
    color: aquamarine;
    border-radius: 15px;
    font-size: 40px;
}

main a{
    /* text-decoration: none; */
    padding: 4px;
    color: blue;
}
main a:hover{
    border: 0 solid blue;
    background: red;
    color: aquamarine;
    border-radius: 15px;
    font-size: 40px;
}
.genre{
    display: flex;
    justify-content: space-around;
}

.genre p{
    color: white;
    background-color: red;
    padding: 10px 15px;
    border-radius: 15px;
}

main h2{
    color: whitesmoke;
    background-color: brown;
    margin-top: 0;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

p{
    font-size: 25px;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
}
.count-numbers{
    border: 1px solid white;
    background-color: red;
    color: white;
    padding: 5px 5px 10px 5px;
}
.title-movie{
    font-size: 35px;
}
.magin-up{
    margin-top: 100px;
}

.container h3{
    color: red;
    font-size: 25px;
    text-align: center;
    text-decoration: 4px underline;
}

nav ul li{
    list-style-type: none;
    margin-bottom: 50px;
   
}
nav ul{
    columns: 2;
}

li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;

}
nav h2{
    color: chartreuse;
}

nav a:hover{
    color: chartreuse;
    background-color: brown;
    padding: 5px 10px;
}
main img{
    width: 400px;
    height: 400x;
    border: 2px solid whitesmoke;
    transition-delay: 1s;
    transition: 0.5s;
}

main img:hover{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    
}
/*
.move-img{
    width: 400px;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
}
@keyframes move{
    form{transform: translateX(0);}
    to{transform: translateX(1000px);}
}
*/
.imgs-banner img{
    width: 10%;
    height: 400px;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    object-fit: cover;
    filter: saturate(0%);
    transition: all ease 0.5s;
    cursor: pointer;

}
.imgs-banner img:hover{
    width: 50%;
    filter: saturate(100%);

}
header, footer{
    color: aliceblue;
}
main p{
    color: aliceblue;
}
.movie-title{
    color: #5cfaff;
    text-shadow: 0px 0px 10px #5cfaff;
}

.home-bar{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}
.home-bar ul{
    display: flex;
    gap: 100px;
    list-style-type: none;
    margin-top: 40px;
}
.home-bar input{
    height: 30px;
    color: blue;
    border: solid #5cfaff;
    margin-top: 50px;
}
.home-bar h1{
    color: #5cfaff;
    font-size: 40px;
    text-shadow: 0px 10px 10px #5cfaff;
}

.home-bar a{
    color: #5cfaff;
}
.home-bar a:hover{
    color: black;
    background-color: cyan;
    padding: 5px 10px;
    border-radius: 10px;
    text-shadow: 0px 0px 100px cyan;
}
.banner img{
    width: 100%;

}
.text{
    text-align: center;
}
.text p{
    font-size: 25px;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    color: aliceblue;
}
.login{
    border: 1px solid whitesmoke;
    background-image: url(images/octo.gif);
    background-size: cover;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: yellow;
    border-radius: 15px;
    padding: 20px;
}
.login h2{
    margin-top: 15px;
    margin-bottom: 20px;
}
.login input{
    margin-bottom: 20px;
    line-height: 30px;
    width: 60%;
    border-radius: 10px;
}
.login button{
    width: 50%;
    padding: 20px;
    color: whitesmoke;
    background-color: #333333;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 20px;
}
.login a{
    text-decoration: none;
}

.login p{
    color: crimson;
}
.a-tag a{
    padding: 10px;
    background-color: black;
    color: #5cfaff;
}
label{
    color: yellow;
    font-size: 20px;
}
.login span{
    color: yellow;
}

/* media quries for home page */

@media screen and (max-width: 320px){
    .home-bar{
        flex-wrap: wrap;
    }
    .column ul{
        flex-wrap: wrap;
        margin-top: 5px;
        
    }
    
    #back-img h2{
        font-size: 25px;
    }
    .imgs-banner img{
        width: 8%;
        height: 200px;
        object-fit: cover;
        filter: saturate(0%);
        transition: all ease 0.5s;
        cursor: pointer;
    
    }
    .imgs-banner img:hover{
        width: 50%;
        filter: saturate(100%);
    
    }
    #back-img a{
        font-size: 25px;
    }
    .banner img{
        height: 200px;
    }
    header p{
        font-size: 20px;
    }
    footer p{
        font-size: 20px;
    }
    .home-bar input{
        width: 90%;
    }
    .home-bar h1{
        width: 100%;
    }
    main img:hover{
        width: 200px;
        height: 200px;
        
    }
}

@media screen and (max-width: 360px){
    .home-bar{
        flex-wrap: wrap;
    }
    .rm-br br{
        display: none;
    }
    .column ul{
        flex-wrap: wrap;
        margin-top: 5px;
        font-size: 15px;
    }
    .column a{
        font-size: 15px;
    }
    
    #back-img h2{
        font-size: 25px;
    }
    .imgs-banner img{
        width: 8%;
        height: 200px;
        object-fit: cover;
        filter: saturate(0%);
        transition: all ease 0.5s;
        cursor: pointer;
    
    }
    .imgs-banner img:hover{
        width: 50%;
        filter: saturate(100%);
    
    }
    #back-img a{
        font-size: 20px;
    }
    .banner img{
        height: 200px;
    }
    header p{
        font-size: 20px;
    }
    footer p{
        font-size: 20px;
    }
    .home-bar input{
        width: 90%;
    }
    .home-bar h1{
        width: 50%;
        font-size: 20px;

    }
    main img:hover{
        width: 300px;
        height: 300px;
        
    }
}
/* @media screen and (max-width: 425px;) {
    .home-bar{
        flex-wrap: wrap;
    }
} */
@media screen and (max-width: 480px){
    .banner img{
        height: 300px;
    }
    #back-img h2{
        font-size: 30px;
    }
}
@media screen and (max-width: 780px){
    .home-bar{
        flex-wrap: wrap;
    }
    .home-bar input{
        width: 50%;
        margin: 5px auto;
    }
    .banner img{
        height: 400px;
    }
   
}
@media screen and (max-width: 885px){
    .home-bar{
        flex-wrap: wrap;
    }
    .home-bar input{
        width: 50%;
        margin: 5px auto;
    }
    .banner img{
        height: 400px;
    }
    main img:hover{
        width: 300px;
        height: 300px;
        
    }
    .nah-h h2{
        position: sticky;
    }

}
@media screen and (max-width: 1105px){
    .home-bar ul{
        gap: 20px;
    }
}

@media screen and (max-width: 300px){
    main img:hover{
        width: 150px;
        height: 150px;
        
    }
}

@media screen and (max-width: 1115px){
    .home-bar{
        flex-wrap: wrap;
    }
    .home-bar input{
        width: 50%;
        margin: 5px auto;
    }
    .banner img{
        height: 500px;
    }
}
@media screen and (max-width: 320px){
    .login button{
        width: 60%;
    }
}

/* media queries for ranked.html */
@media screen and (max-width: 780px){
    .container{
        flex-wrap: wrap;
    }
    .container img{
        width: 100%;
    }
}
 /* @media screen and (max-width: 655px){
    .nav-h{
        position: static;
    }
    
}
@media screen and (max-width: 480px){
    main img:hover{
        pointer-events: none;
        
    }
    
} */
